@import 'mediquery.scss';

$myfont: 'Space Grotesk', sans-serif;
$secondFont: 'Philosopher', sans-serif;

* {
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #c1a397;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.header {
    width: 96%;
    margin-left: 3.38vw;
    height: 4vh;
    border-bottom: 1px solid #3c280d;
    padding: 4% 1%;

    @include mobile {
        width: 90%;
        height: 3vh;
    }

    @include landscape {
        width: 93%;
        height: 3vh;
    }

    @include tablet {
        width: 93%;
        height: 3vh;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*styling the company name*/
.logo_name {
    padding: 0 1%;
    font-family: $secondFont;
    color: #3c280d;
    font-size: 40px;
    margin-left: 139.5vw;

    @include mobile {
        font-size: 20px;
        margin-left: 6.5vw;
    }

    @include tablet {
        font-size: 36px;
        margin-left: 25.5vw;
    }

    @include landscape {
        margin-left: -20.5vw;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*styling the navbar */
.navbar {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
    /*styling the navbar links*/
    ul li {
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
        list-style: none;
        margin-right: 18.8vw;
        margin-left: -0.2vw;
        position: relative;

        @include landscape {
            margin-right: -9.9vw;
            margin-left: -10.2vw;
            font-size: 24px;
        }

        a {
            font-family: $myfont;
            color: #3c280d;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            &:before {
                content: '';
                position: absolute;
                color: #000;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 2px;
                background: #95624e;
                transition: all .3s ease;
            }

            &:hover:before {
                width: 100%;
            }

            &:hover {
                transition: all .3s ease;
                color: #be5504;
            }
        }
    }

    .ham-menu {
        opacity: 0;
        cursor: pointer;

        @include mobile {
            color: #be5504;
            opacity: 1;
            font-size: 1rem;
            right: 2.80vw;
            margin-top: 5px;
            position: absolute;
        }

        @include tablet {
            opacity: 1;
            color: #be5504;
            opacity: 1;
            font-size: 1.5rem;
            right: 2.17vw;
            margin-top: 5px;
            position: absolute;
        }
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
.active {
    background-color: #d1ccc6;
    font-size: 23px;
    padding: 8px;
    border-radius: 8px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*designing the logo*/
.logoIcon {
    width: 7.94vw;
    border-radius: 183px;
    cursor: pointer;

    @include mobile {
        width: 7.94vw;
    }

    @include landscape {
        width: 7.94vw;
    }

    @include tablet {
        width: 7.94vw;
    }
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*main eading*/
h1 {
    font-weight: 800;
    font-size: 55px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    @include landscape {
        font-size: 76px;
    }

    @include mobile {
        font-size: 25px;
        margin-bottom: 30px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 43.2vw;
        height: 1.5px;
        background-color: #000;
        left: 50%;
        bottom: 1%;
        transform: translate(-50%);

        @include mobile {
            width: 62.3vw;
            left: 50%;
        }
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*styling the bottom container and card*/
.card1 {
    float: left;
    width: 30%;
    border-radius: 12px;
    box-shadow: 9px 9px 12px #888888;

    @include mobile {
        float: none;
        width: 70%;
        margin-left: 12.2vw;
    }
    @include landscape {
        width: 560px;
    }
    @include tablet {
        width: 70%;
        margin-left: 12.3vw;
        float: none;
    }
}

.bottom-container {
    position: absolute;
    width: 90%;
    left: 4%;
    padding: 7px;

    @include landscape {
        width: 570px;
    }

    .web-info {
        font-size: 1.6vw;
        width: 87.5vw;
        color: papayawhip;
        font-family: $myfont;
        text-align: center;

        @include tablet {
            margin-top: 3.4vh;
            font-size: 20px;
            width: 87.5vw;
        }

        @include landscape {
            font-size: 24px;
            margin-left: 43.73vw;
            width: 49.8vw;
            margin-top: 80px;
        }

        @include mobile {
            text-align: center;
            justify-content: center;
            font-size: 0.7rem;
            width: 87.8vw;
        }
    }

    .cardText {
        font-size: 3.9vw;
        width: 87.5vw;
        color: #be5504;
        font-family: $myfont;
        text-align: center;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*main eading*/
h2 {
    font-weight: 800;
    font-size: 55px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 970px;
    margin-bottom: 5px;
    @include tablet{
        margin-top: 1220px;
    }
    @include landscape {
        font-size: 76px;
    }

    @include mobile {
        font-size: 25px;
        margin-top: 630px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 43.2vw;
        height: 1.5px;
        background-color: #000;
        left: 50%;
        bottom: 1%;
        transform: translate(-50%);

        @include mobile {
            width: 62.3vw;
            left: 50%;
        }
    }
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*stylists gallery*/
.stylists {
    width: 93.4vw;
    height: 500px;
    background: #ccc;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @include tablet {
        margin-top: 50px;
        margin-left: 7.7vw;
        height: 300px;
        width: 83.4vw;
    }
    @include mobile{
        height: 200px;
        margin-left: 1.7vw;
    }

    .column {
        height: 100%;
        flex: 1;
        color: #be5504;
        box-sizing: border-box;
        padding: 32px;
        transition: 0.9s;

        @include tablet {
            width: 72px;
        }
        @include mobile{
            width: 47px;
        }

        &:hover {
            flex-grow: 8.1;
        }

        &:nth-child(1) {
            background-image: url('stylist/vintage.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        &:nth-child(2) {
            background-image: url('stylist/work.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        &:nth-child(3) {
            background-image: url('stylist/bubbly.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        &:nth-child(4) {
            background-image: url('stylist/casual.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        &:nth-child(5) {
            background-image: url('stylist/minimal.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        &:nth-child(6) {
            background-image: url('stylist/girly.jpg');
            opacity: 80%;
            background-size: 100% 100%;
        }

        h3 {
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @include tablet {
                font-size: 15px;
                margin-left: -24px;
            }
            @include mobile{
                font-size: 17px;
                margin-left: -34px;
            }
        }

        .picText {
            max-width: 130px;
            font-size: 15px;
            margin: 35px 0;
            transition: 0.6s;

            @include tablet {
                font-size: 10px;
                max-width: 90px;
            }

            button {
                margin-top: 30px;
                border: 1px solid #3c280d;
                background: #888888;
                box-shadow: 2px 3px 9px #888888;
                outline: none;
                border-radius: 3px;
                padding: 5px 12px;
                color: #be5504;
                font-weight: 600;
                font-size: 12px;
                cursor: pointer;

                @include tablet {
                    font-size: 7px;
                }
            }

            .info {
                color: #fff;
                &:hover {
                    color: #000;
                    font-weight: 500;
                }
            }

            &:hover {
                max-width: 270px;
                background: #888888;
                opacity: 70%;
                height: 12.4vh;
                border-radius: 5px;
                border: 1px solid #000;
            }
            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }
        }
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*designing footer*/
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    background: #3c280d;
    margin-top: 19.4vh;
    align-items: center;
    padding: 20px 1px;
    justify-content: center;
    flex-direction: column;

    @include landscape {
        margin-top: 17.8vh;
        position: relative;
        padding: 20px -6px;
    }

    @include mobile {
        margin-top: 9.8vh;
    }

    @include tablet {
        margin-top: 10.8vh;
    }

    .social-media {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 20px 12px;

        li {
            list-style: none;
            transition: 0.5s;

            &:hover {
                transform: translateY(-6px);
            }
        }

        a {
            font-size: 1.6rem;
            margin: 0 20px;
            color: #c1a397;
            transition: 0.5s;
            opacity: 0.6;

            @include landscape {
                font-size: 2.1rem;
            }

            @include mobile {
                font-size: 1.2rem;
                margin: 0 12px;
            }

            &:hover {
                opacity: 1.5;
                color: #ada399;
            }
        }
    }

    .menu-links {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 20px 12px;

        li {
            list-style: none;
        }

        a {
            font-size: 1.3rem;
            margin: 11px 20px;
            color: #c1a397;
            display: inline-block;
            font-family: $myfont;
            transition: 0.4s;
            opacity: 0.5;

            @include landscape {
                font-size: 1.7rem;
            }

            @include mobile {
                font-size: 0.8rem;
                margin: 0px 17px;
            }

            &:hover {
                color: #ada399;
                opacity: 1.2;
                transform: translatey(6px);
                font-size: 1.4rem;
            }
        }
    }

    .copyright {
        color: #c1a297;
        opacity: 0.7;
        font-size: 14px;
        margin-left: 2.7vw;
        text-align: center;

        @include landscape {
            margin-left: 1.7vw;
            font-size: 17px;
        }

        @include mobile {
            margin-left: 10.8vw;
            font-size: 12px;
        }
    }
}



